@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

.loader{
  text-align: center;
}

body{
  box-sizing: border-box;
  padding: 2em;
  max-width: 1100px;
  margin: 0 auto;
  background: #eee;
  font-family: 'Quicksand', serif;
  font-style: normal;
}

.grid{
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
}

.card{
  margin: 15px;
  width: 250px;
  border-radius: 0.25rem;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 2px 16px rgba(0,0,0,.05);
}

.card:hover {
  opacity: 0.7;
  -webkit-transition: .3s ease-in-out;
}

.card_image{
  width: 100%;
  height: auto;
  display: block;
}

.card_content{
  text-align: center;
  padding: 1em 1em 1em;
}

.card_title{
  margin: 0;
  font-size: 20px;
  color: black;
}

.card_subtitle{
  margin: 0;
  font-size: 15px;
  color: gray;
}