.photos img {
  width: 300px;
  height: 300px;
  margin-left: 4px;
}

.photos img:hover {
  opacity: 0.7;
  -webkit-transition: .3s ease-in-out;
}

.photos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
